.title-slide a, .title-slide h1, .title-slide h2, .title-slide h3, .title-slide h4{
  color: #000000;
}

.title-slide a:hover{
  color: #000;
}

.inverse p{
  color: #FFFFFF;
}

.inverse a{
  color: #760064;
  font-weight: bold;
}


.title-slide {
  background-image: url(img/HexFabric.jpg);
    background-size: cover;
    background-color: #FFFFFF;
}

.title-slide h4{
font-size: 0.8em;
}
